@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /*Banner Titles*/
    h1 { @apply text-4xl; }

    /*Section Title*/
    h2 { @apply text-3xl; }

    h3 { @apply text-2xl; }

    h4 { @apply text-xl; }

    h5 { @apply text-lg; }

    h6 { @apply text-base; }

    /*Links*/
    a { @apply hover:text-blue-400; }

    /*Section Paragraph*/
    p { @apply text-base text-justify; }
  
}

::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: red;
}

/*

This following text is the css that is being used in the oficial website of the portal for the iframe.
reservas.achieverentacar.com

.spacer {
    height: 0px;
}

.page-header {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-md-4 {
    padding: 0px!important;
    padding-right: 10px!important;
    padding-left: 10px!important;
    margin: 0px!important;
}

.col-sm-6 {
    padding: 5px!important;
    margin: 0px!important;
}

.col-sm-12 {
    padding: 5px!important;
    margin: 0px!important;
    width: 100%;
}

.container {
    padding: 0px!important;
    margin: 0px!important;
}

.form-container {
    margin: 0px;
    padding: 0px!important;
}

.form-group {
    margin: 0px;
    padding-right: 10px!important;
    padding-left: 10px!important;
    padding-bottom: 5px!important;
}

.visible-sm-block {
    display: none!important;
}

.btn {
    margin-top: 0px!important;
    border-radius: 8px;
}

.booking-bar--wide {
    margin: 0px;
    padding: 0px;
}

.page-wrap {
    display: flex;
	flex-direction: column;
}

.header-attachment {
    order: 2;
}

.rent-locations-dates {
    order: 1;
}

.page-header h2 {
    font-size: 2rem!important;
}

@media (min-width: 1280px) {
    
    .header-attachment {
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .rent-locations-dates {
        order: 2;
        display: flex;
        align-items: center;
        justify-content: center;
	    flex-direction: column;
        gap: 32px;
    }
    
    .page-header {
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    
    .page-header h2 {
        font-size: 3rem!important;
    }
    
    .form-container {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    
}
*/