@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /*Banner Titles*/
    h1 { @apply text-4xl; }

    /*Section Title*/
    h2 { @apply text-3xl; }

    h3 { @apply text-2xl; }

    h4 { @apply text-xl; }

    h5 { @apply text-lg; }

    h6 { @apply text-base; }

    ul { @apply list-disc list-inside; }

    input { 
      @apply px-4 py-2 bg-zinc-600 rounded shadow;
      color-scheme: dark;
     }
    textarea { @apply px-4 py-2 bg-zinc-600 rounded shadow; }
}

#anyrentBookingsIframe {
  border-radius: 0.375rem/* 6px */;
}

.px-default {
  @apply laptop:px-32 tablet:px-20 px-4;
}

.anyrent-height {
  min-height: 779px;
  height: auto;
}

@media (min-width: 928px) {
  .anyrent-height {
    min-height: 659px;
    height: auto;
  }
}

@media (min-width: 929px) {
  .anyrent-height {
    min-height: 769px;
    height: auto;
  }
}

@media (min-width: 961px) {
  .anyrent-height {
    min-height: 770px;
    height: auto;
  }
}

@media (min-width: 1152px) {
  .anyrent-height {
    min-height: 479px;
    height: auto;
  }
}

@media (min-width: 1153px) {
  .anyrent-height {
    min-height: 355px;
    height: auto;
  }
}

.achieve {
  text-shadow:
    1px 1px 0 #DA291C,
    -1px 1px 0 #DA291C,
    -1px -1px 0 #DA291C,
    1px -1px 0 #DA291C;
  
}

.outline-white {
  text-shadow:
    1px 1px 0 #fff,
    -1px 1px 0 #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff;
}

.outline-black {
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}

::selection {
  color: #ffffff;
  background-color: #DA291C;
}

::-moz-selection {
  color: #ffffff;
  background-color: #DA291C;
}

::selection {
  color: #ffffff;
  background-color: #DA291C;
}

.achieve::selection {
  color: #ffffff;
  background-color: #263E78;
}

.achieve::-moz-selection {
  color: #ffffff;
  background-color: #263E78;
}

.achieve::selection {
  color: #ffffff;
  background-color: #263E78;
}

.swiper-slide {
  min-height: 100% !important;
  height: auto !important;
  width: 33.333% !important;
}

#review {
  width: 99vw;
}

@media (max-width: 1024px) {
  .swiper-slide {
    min-height: 100% !important;
    height: auto !important;
    width: 100% !important;
  }
  #review {
    width: 90vw;
  }
}
